.experience {
    display: flex;
    min-height: 100vh;
    background-color: #0e1a1f;
    color: #fff;
}

.experience .background-experience {
    max-width: 1140px;
    margin: auto;
}

.experience .background-experience span::after {
    content: '';
    display: block;
    position: relative;
    top: -70px;
    width: 250px;
    height: 1px;
    margin-left: 500px;
    opacity: 0.6;
    background-color: #ccd6f6;
}

.experience .background-experience span::before {
    content: '';
    display: block;
    position: relative;
    top: 30px;
    width: 250px;
    height: 1px;
    margin-left: 0px;
    opacity: 0.6;
    background-color: #ccd6f6;
}

.experience .background-experience span h1 {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.experience .content-experience {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.experience .content-experience .tab-list {
    flex-wrap: wrap;
    width: 20%;
}

.experience .content-experience .tab-list::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    opacity: 0.6;
    background-color: #ccd6f6;
}

.experience .content-experience .tab-list button {
    color: #ccd6f6;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    background-color: #ffffff00;
    border: none;
    outline: none;
}

.experience .content-experience .tab-list button:hover {
    background-color: #112240;
    cursor: pointer;
}

.line-style {
    transition: all 0.5s;
    position: absolute;
    top: 0;
    width: 2px;
    height: 44px;
    background-color: #64ffda;
}

.experience .content-experience .experience-list {
    margin-left: 15px;
}

.experience .content-experience .experience-list h3 {
    color: #ccd6f6;
}

.experience .content-experience .experience-list .title p {
    color: #a8b2d1;
    font-size: 14px;
    margin-bottom: 25px;
}

.experience .content-experience .experience-list div ul li {
    position: relative;
    color: #a8b2d1;
    font-size: 17px;
    padding-left: 30px;
    margin-bottom: 10px;
    list-style: none;
}

.experience .content-experience .experience-list div ul li::before {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-left: 5px solid #64ffda;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-radius: 2px;
    top: 10px;
    height: 1px;
    margin-left: -30px;
}

@media screen and (min-width: 739px) {
    .experience .content-experience .experience-list ul {
        max-width: 500px;
        margin-left: 15px;
    }

    .experience .background-experience {
        width: 100%;
    }

    .experience .content-experience {
        width: 80%;
    }

    .experience .experience-list {
        width: 100%;
    }
    .experience .content-experience .experience-list {
        width: 100%;
    }
    .experience .background-experience span::before {
        top: 30px;
        width: 180px;
        height: 1px;
        margin-left: 100px;
    }
    .experience .background-experience span::after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        right: 100px;
        width: 180px;
        height: 1px;
        opacity: 0.6;
        background-color: #ccd6f6;
    }
}
@media screen and (max-width: 500px) {
    .experience .content-experience .experience-list div ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 739px) {
    .experience .content-experience .experience-list div ul li {
        font-size: 15px;
    }

    .experience .background-experience {
        width: 100%;
    }

    .experience .content-experience {
        width: 80%;
        padding: 10px;
    }

    .experience .experience-list {
        width: 100%;
    }
    .experience .content-experience .experience-list {
        width: 100%;
    }

    .experience .content-experience .experience-list .inner-experience {
        min-width: 100%;
    }

    .experience .background-experience span::before {
        top: 30px;
        width: 100px;
        height: 1px;
        margin-left: 100px;
    }
    .experience .background-experience span::after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        right: 100px;
        width: 100px;
        height: 1px;
        opacity: 0.6;
        background-color: #ccd6f6;
    }

    .experience .content-experience .experience-list {
        max-width: 400px;
        margin-left: 15px;
    }
    .experience .content-experience .tab-list button {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .experience {
        min-height: 100%;
    }
    .experience .background-experience {
        height: 100%;
    }
    .experience .content-experience .experience-list {
        height: 100%;
    }
    .experience .content-experience .experience-list div ul li::before {
        width: 100%;
    }

    .experience .content-experience .tab-list button {
        font-size: 14px;
    }

    .experience .content-experience .experience-list .title {
        text-align: center;
    }
}
