.somethings-building {
    width: 100%;
    height: 100%;
    background-color: #0e1a1f;
    color: #fff;
}

.background-building {
    padding: 20px 0;
    border-radius: 30px;
    max-width: 1140px;
    margin: auto;
}

.background-building span h1::before {
    content: '';
    display: block;
    position: relative;
    top: 27px;
    margin-right: 30px;
    width: 300px;
    height: 1px;
    opacity: 0.2;
    background-color: #ccd6f6;
}

.background-building span h1 {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 40px;
    color: #ccd6f6;
}

.content-building {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.content-building .inner-building {
    position: absolute;
    z-index: 10;
    width: 60%;
    left: 0;
}

.content-building .inner-building h5 {
    margin: 20px 0px;
    color: #64ffda;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    font-size: 16px;
    font-weight: 400;
}

.content-building .inner-building h4 {
    margin: 10px 0px;
    color: #ccd6f6;
    font-weight: 600;
    line-height: 1.1;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    font-size: 16px;
}

.content-building .inner-building p {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 2;
    padding: 10px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 16px;
    margin: 0;
}

.content-building .inner-building p:hover {
    box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
}

.content-building .inner-building ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.content-building .inner-building ul li {
    margin-top: 10px;
    list-style: none;
    color: #a8b2d1;
}

.content-building .inner-building ul li + li {
    margin-left: 30px;
}

.content-building .inner-building span {
    font-size: 30px;
    background-color: none;
    color: #a8b2d1;
    cursor: pointer;
}
.content-building .img-dessertation {
    display: flex;
}

.content-building .img-dessertation img {
    display: flex;
    position: relative;
    z-index: -1;
    width: 600px;
}

.content-building + .content-building {
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.content-building + .content-building .inner-building {
    position: absolute;
    z-index: 10;
    width: 60%;
    left: 460px;
}

.content-building + .content-building .inner-building h5 {
    text-align: end;
    margin: 20px 0px;
    color: #64ffda;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    font-size: 16px;
    font-weight: 400;
}

.content-building + .content-building .inner-building h4 {
    text-align: end;
    margin: 10px 0px;
    color: #ccd6f6;
    font-weight: 600;
    line-height: 1.1;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    font-size: 16px;
}

.content-building + .content-building .inner-building p {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 2;
    padding: 10px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 16px;
    margin: 0;
}

.content-building + .content-building .inner-building p:hover {
    box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
}

.content-building + .content-building .inner-building ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.content-building + .content-building .inner-building ul li {
    margin-top: 10px;
    list-style: none;
    color: #a8b2d1;
}

.content-building + .content-building .inner-building ul li + li {
    margin-left: 30px;
}

.content-building + .content-building .inner-building span {
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: none;
    color: #a8b2d1;
    cursor: pointer;
}
.content-building + .content-building .img-dessertation {
    display: flex;
    border: 1px solid #a8b2d1;
}

.content-building + .content-building .img-dessertation img {
    display: flex;
    position: relative;
    z-index: -1;
    width: 600px;
}

@media screen and (max-width: 1190px) {
    .background-building {
        width: 80%;
    }
    .background-building span h1 {
        margin: 20px;
        font-size: 30px;
        padding: 0;
    }

    .background-building span h1::before {
        width: 150px;
    }

    .content-building .img-dessertation {
        width: 100%;
    }
    .content-building .img-dessertation {
        margin: 20px;
    }
    .content-building .img-dessertation img {
        width: 100%;
    }
    .content-building .inner-building {
        width: 100%;
        position: relative;
        padding: 20px;
    }

    .content-building + .content-building {
        margin-top: 50px;
    }

    .content-building + .content-building .inner-building {
        position: relative;
        left: 0;
        width: 100%;
    }
    .content-building + .content-building .img-dessertation {
        margin: 20px;
    }

    .content-building + .content-building .img-dessertation img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .background-building {
        width: 100%;
    }
    .background-building span h1 {
        font-size: 25px;
        padding: 0;
    }

    .background-building span h1::before {
        width: 100px;
    }
}
