.about-me {
    width: 100%;
    height: 100vh;
    background-color: #0e1a1f;
    color: #fff;
    display: flex;
}

.background-about {
    align-items: center;
    padding: 20px 0;
    border-radius: 30px;
    max-width: 1140px;
    margin: auto;
}

.background-about span::after {
    content: '';
    display: block;
    position: relative;
    top: -70px;
    width: 300px;
    height: 1px;
    margin-left: 220px;
    opacity: 0.6;
    background-color: #ccd6f6;
}

.background-about span h1 {
    padding: 10px 0px 40px;
    color: #ccd6f6;
}

.content-about {
    display: flex;
    flex-wrap: wrap;
}

.content-about p {
    margin-left: 20px;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    color: #8892b0;
}

.information-about-me {
    width: 60%;
}

.information-about-me ul {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    color: #8892b0;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px 20px;
    margin: 20px 20px 0px;
    margin-right: 10px;
    overflow: hidden;
    list-style: none;
}
.information-about-me ul li::before {
    content: '';
    display: block;
    position: relative;
    height: 0;
    width: 0;
    border-left: 5px solid #64ffda;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-radius: 2px;
    top: 16px;
    width: 300px;
    height: 1px;
    margin-left: -10px;
}

.img-about-me {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 40%;
    height: 100%;
}

.img-about-me::before {
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    width: 70%;
    left: 70px;
    height: 100%;
    border-radius: 5px;
    background-color: #47494f;
    opacity: 0.5;
}
.img-about-me:hover::before {
    content: '';
    z-index: 0;
    display: block;
    position: absolute;
    width: 70%;
    left: 70px;
    height: 100%;
    border-radius: 5px;
    background-color: #8892b0;
    opacity: 0.5;
}

.img-about-me img {
    display: flex;
    margin: 0 auto;
    filter: blur(5px);
    border-radius: 5px;
    border: 2px solid #8892b0;
    width: 70%;
    height: 80%;
}

.img-about-me::after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 90px;
    z-index: -1;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #64ffda;
    transition: all 1s;
}

.img-about-me img:hover {
    transition: all 0.5s ease-out;
    filter: blur(0);
}

.img-about-me:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 80px;
    z-index: -1;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(60px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media screen and (min-width: 740px) and (max-width: 1147px) {
    .about-me .background-about {
        width: 90%;
    }
    .about-me .background-about span {
        width: 80%;
    }
    .about-me .background-about span h1 {
        padding: 10px 20px 40px;
    }

    .background-about span::after {
        content: '';
        display: block;
        position: relative;
        top: -70px;
        width: 250px;
        height: 1px;
        margin-left: 220px;
        opacity: 0.6;
        background-color: #ccd6f6;
    }
}

@media screen and (max-width: 739px) {
    .about-me .background-about span {
        width: 80%;
    }
    .about-me .background-about span h1 {
        padding: 10px 30px 40px;
        font-size: 30px;
    }
    .background-about span::after {
        content: '';
        display: block;
        position: relative;
        top: -70px;
        width: 200px;
        height: 1px;
        margin-left: 220px;
        opacity: 0.6;
        background-color: #ccd6f6;
    }

    .information-about-me {
        width: 100%;
    }

    .img-about-me {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .about-me {
        height: 100%;
    }
    .img-about-me {
        margin: 60px 0;
    }
    .information-about-me {
        padding: 10px;
    }
    .background-about span::after {
        content: '';
        display: block;
        position: relative;
        top: -60px;
        width: 150px;
        height: 1px;
        margin-left: 180px;
        opacity: 0.6;
        background-color: #ccd6f6;
    }
    .content-about p {
        margin: 10px;
    }
}

@media screen and (max-width: 400px) {
    .background-about span::after {
        content: '';
        display: block;
        position: relative;
        top: -70px;
        width: 150px;
        height: 1px;
        margin-left: 220px;
        opacity: 0.6;
        background-color: #ccd6f6;
    }
    .img-about-me::before {
        content: '';
        z-index: 1;
        display: block;
        position: absolute;
        width: 70%;
        left: 50px;
        height: 100%;
        border-radius: 5px;
        background-color: #47494f;
        opacity: 0.5;
    }
    .img-about-me::after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: 70px;
        z-index: -1;
        width: 70%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid #64ffda;
        transition: all 1s;
    }
}
