.contact {
    display: flex;
    min-height: 100vh;
    background-color: #0e1a1f;
    color: #fff;
}

.contact .background-contact {
    max-width: 1140px;
    margin: auto;
}

.contact .background-contact .inner-contact {
    position: relative;
    transition: all 1s;
    top: 0;
    text-align: center;
}

.contact .background-contact .inner-contact span {
    display: block;
    margin-bottom: 20px;
    color: #64ffda;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 400;
}

.contact .background-contact .inner-contact span h1 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: #ccd6f6;
    font-size: 50px;
    line-height: 1.1;
}

.contact .background-contact .inner-contact p {
    width: 60%;
    font-size: 18px;
    margin: 0 auto;
    color: #a8b2d1;
}

.contact .background-contact .inner-contact button {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 50px;
    outline: none;
}

.contact .background-contact .inner-contact button:hover {
    background-color: rgba(100, 255, 218, 0.1);
    outline: none;
}

.input-contact {
    max-width: 1140px;
    margin: auto;
}

.input-contact .inner-input-contact {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 1s;
    top: -50px;
    visibility: hidden;
}

.input-contact .inner-input-contact span h1 {
    color: #a8b2d1;
}

.input-contact .inner-input-contact label {
    color: #64ffda;
}

.input-contact .inner-input-contact label + input + label {
    margin-top: 20px;
}

.input-contact .inner-input-contact input {
    padding: 10px;
    width: 100%;
    border: 1px solid #a8b2d1;
    color: #fff;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    background-color: #ffffff00;
}

.input-contact .inner-input-contact textarea {
    padding: 10px;
    width: 100%;
    height: 200px;
    border: 1px solid #a8b2d1;
    color: #fff;
    outline: none;
    border-radius: 3px;
    background-color: #ffffff00;
}

.input-contact .inner-input-contact .list-button {
    display: flex;
    justify-content: space-between;
}

.input-contact .inner-input-contact button {
    color: #a8b2d1;
    background-color: transparent;
    border: 1px solid #a8b2d1;
    border-radius: 4px;
    padding: 1rem 1.75rem;
    font-size: 14px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
}

.input-contact .inner-input-contact button:hover {
    color: #64ffda;
    border: 1px solid #64ffda;
}

.contact .background-contact .input-contact span .icon-envelope {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 250px;
    visibility: hidden;
    transition: all 2;
}

.contact .background-contact .input-contact span h1::before {
    content: 'Success';
    display: block;
    position: absolute;
    margin-left: 230px;
    font-size: 20px;
    top: 15px;
    visibility: hidden;
    transition: all 2;
    color: #64ffda;
    opacity: 0.7;
}

.contact .background-contact .input-contact span h1::after {
    content: 'FAILED';
    display: block;
    position: absolute;
    margin-left: 230px;
    font-size: 20px;
    top: 15px;
    visibility: hidden;
    transition: all 2;
    color: red;
    opacity: 0.7;
}

@keyframes letter {
    from {
        opacity: 1;
        left: 250px;
    }
    to {
        opacity: 0;
        left: 500px;
    }
}

@media screen and (min-width: 740px) and (max-width: 1147px) {
}

@media screen and (max-width: 1190px) {
}

@media screen and (max-width: 400px) {
    .input-contact .inner-input-contact {
        width: 80%;
    }

    .input-contact .inner-input-contact span h1 {
        font-size: 25px;
    }
    .contact .background-contact .inner-contact p {
        width: 80%;
    }
}
